body
{
    background-color: rgb(67, 136, 136);
}
.btn{
    background-color: #fff;
    position: relative;
    margin-top: 80px; 
    padding: 10px 50px 10px 50px;
}
.log{
   margin: 200px 0px 0px 50px;
}
.buttonall
{
    margin-left: 800px;
}
.btn1
{
    margin-right: 10px;
}
.form1-2
{
    margin-left: 400px;
}