<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="logout.css">
</head>
<body>
  
       <div class="ques">
        <span class="badge  badge-light ques1" ><h2>Would you like to logout ?</h2></span>
       </div><br><br>
    </div>
    <div class="ques">
     <span class="badge  badge-light ques1" >
         <div class="row lowerbtns">
         <div class="col-lg-6"> <button type="button" class="btn btn1 btn2 btn-outline-primary "  onclick='location.href="{{url_for('part1')}}"'>YES</button></div>
        <div class="col-lg-6">  <button type="button" class="btn btn1 btn2 btn-outline-primary"  onclick='location.href="{{url_for('page3')}}"'>CANCEL</button></div></span>
    </div>
</div>
</body>
</html>